interactions:
- request:
    body: '{"type": "public", "optin": "single", "status": "active", "name": "External
      Integration Test Cadence", "description": "Sequence description for external
      test", "tags": ["cadence"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://listmonk-dev.aurumor.com/api/lists
  response:
    body:
      string: '{"data":{"id":14,"created_at":"2026-08-15T12:19:11.507153Z","updated_at":"2026-08-15T12:19:11.507153Z","uuid":"e23c425e-c0c2-4752-b8bb-bb132b2045fb","name":"External
        Integration Test Cadence","type":"public","optin":"single","status":"active","tags":["cadence"],"description":"Sequence
        description for external test","subscriber_count":0,"subscriber_statuses":{},"subscription_created_at":null,"subscription_updated_at":null}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "active", "description": "Sequence description for external
      test", "lists": [14], "email_ids": [], "waha_sessions": [], "name": "External
      Integration Test Cadence"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://listmonk-dev.aurumor.com/api/sequences
  response:
    body:
      string: '{"data":{"id":17,"created_at":"2026-08-15T12:19:11.557006Z","updated_at":"2026-08-15T12:19:11.557006Z","uuid":"a453a923-ccc6-4afa-9fdf-1ce8e651483f","name":"External
        Integration Test Cadence","description":"Sequence description for external
        test","status":"active","schedule_id":null,"timezone":"","send_schedule":null,"send_window":{},"email_ids":[],"waha_sessions":[],"archive":false,"archive_template_id":null,"archive_slug":null,"archive_meta":{},"lists":[{"id":14,"name":"External
        Integration Test Cadence"}]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "active"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://listmonk-dev.aurumor.com/api/sequences/17/status
  response:
    body:
      string: '{"data":{"id":17,"created_at":"2026-08-15T12:19:11.557006Z","updated_at":"2026-08-15T12:19:11.617922Z","uuid":"a453a923-ccc6-4afa-9fdf-1ce8e651483f","name":"External
        Integration Test Cadence","description":"Sequence description for external
        test","status":"active","schedule_id":null,"timezone":"","send_schedule":null,"send_window":{},"email_ids":[],"waha_sessions":[],"archive":false,"archive_template_id":null,"archive_slug":null,"archive_meta":{},"lists":[{"id":14,"name":"External
        Integration Test Cadence"}]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://listmonk-dev.aurumor.com/api/sequences/17
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://listmonk-dev.aurumor.com/api/lists/14
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
