interactions:
- request:
    body: '{"email": "crm_lead_a28d4d@example.com", "name": "External CRM Lead Sync
      Test", "status": "enabled", "attribs": {"contact": {"annual_revenue": 0.0, "apollo_ref_code":
      null, "communication_status": "Open", "converted": 0, "creation": "2026-08-15
      17:49:37.328382", "docstatus": 0, "doctype": "CRM Lead", "email": "crm_lead_a28d4d@example.com",
      "engagement_rate": null, "enrichment_status": null, "facebook": null, "facebook_form_id":
      null, "facebook_lead_id": null, "first_name": "External CRM Lead Sync Test",
      "first_responded_on": null, "first_response_time": null, "gender": null, "idx":
      0, "image": null, "industry": null, "instagram": null, "job_title": null, "last_name":
      null, "last_responded_on": null, "last_response_time": null, "lead_name": "External
      CRM Lead Sync Test", "lead_owner": null, "linkedin": null, "listmonk_id": 0,
      "location": null, "lost_notes": null, "lost_reason": null, "middle_name": null,
      "mobile_no": null, "modified": "2026-08-15 17:49:37.328382", "modified_by":
      "Administrator", "name": "CRM-LEAD-2026-00025", "naming_series": "CRM-LEAD-.YYYY.-",
      "net_total": 0.0, "no_of_employees": "1-10", "organization": null, "owner":
      "Administrator", "phone": null, "products": [], "response_by": null, "rolling_responses":
      [], "salutation": null, "sla": null, "sla_creation": null, "sla_status": "",
      "source": null, "status": "New", "status_change_log": [{"creation": "2026-08-15
      17:49:37.369071", "docstatus": 0, "doctype": "CRM Status Change Log", "duration":
      null, "from": "New", "from_date": "2026-08-15 12:19:37.364569", "from_type":
      "", "idx": 1, "last_status_change_log": null, "log_owner": "Administrator",
      "modified": "2026-08-15 17:49:37.369071", "modified_by": "Administrator", "name":
      "vbtogkgti4", "owner": "Administrator", "parent": "CRM-LEAD-2026-00025", "parentfield":
      "status_change_log", "parenttype": "CRM Lead", "to": "", "to_date": null, "to_type":
      ""}], "teable_ref_code": null, "territory": null, "total": 0.0, "website": null,
      "x": null, "youtube": null}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://listmonk-dev.aurumor.com/api/subscribers
  response:
    body:
      string: '{"data":{"id":7,"created_at":"2026-08-15T12:19:37.422952Z","updated_at":"2026-08-15T12:19:37.422952Z","uuid":"5171ddd4-2395-4d23-9aa5-1c1667a6f78a","email":"crm_lead_a28d4d@example.com","name":"External
        CRM Lead Sync Test","phone":null,"attribs":{"contact":{"annual_revenue":0,"apollo_ref_code":null,"communication_status":"Open","converted":0,"creation":"2026-08-15
        17:49:37.328382","docstatus":0,"doctype":"CRM Lead","email":"crm_lead_a28d4d@example.com","engagement_rate":null,"enrichment_status":null,"facebook":null,"facebook_form_id":null,"facebook_lead_id":null,"first_name":"External
 [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://listmonk-dev.aurumor.com/api/subscribers/7
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
