interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://listmonk-dev.aurumor.com/api/users
  response:
    body:
      string: '{"data":[{"id":1,"username":"admin","name":"Admin User","email":"admin@example.com","status":"enabled"},{"id":10,"username":"salesrep1","name":"Alice Sales Rep","email":"alice@company.com","status":"enabled"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
