interactions:
- request:
    body: '{"email": "seq_test_25a279@example.com", "name": "Seq Sub", "status": "enabled"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://listmonk-dev.aurumor.com/api/subscribers
  response:
    body:
      string: '{"data":{"id":11,"created_at":"2026-08-15T14:20:33.476189Z","updated_at":"2026-08-15T14:20:33.476189Z","uuid":"af5e4e96-9e93-4e35-8c66-f6d233210547","email":"seq_test_25a279@example.com","name":"Seq
        Sub","phone":null,"attribs":{},"status":"enabled","lists":[]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "public", "optin": "single", "status": "active", "name": "Enrollment
      Test List"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://listmonk-dev.aurumor.com/api/lists
  response:
    body:
      string: '{"data":{"id":15,"created_at":"2026-08-15T14:20:33.514026Z","updated_at":"2026-08-15T14:20:33.514026Z","uuid":"ff8d2f53-69aa-4b9f-a04f-44af7f2fded2","name":"Enrollment
        Test List","type":"public","optin":"single","status":"active","tags":[],"description":"","subscriber_count":0,"subscriber_statuses":{},"subscription_created_at":null,"subscription_updated_at":null}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "active", "description": "", "lists": [15], "email_ids": [],
      "waha_sessions": [], "name": "Enrollment Test Sequence"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://listmonk-dev.aurumor.com/api/sequences
  response:
    body:
      string: '{"data":{"id":21,"created_at":"2026-08-15T14:20:33.567106Z","updated_at":"2026-08-15T14:20:33.567106Z","uuid":"58b5ca3d-6459-4b47-b725-d685a92e1669","name":"Enrollment
        Test Sequence","description":"","status":"active","schedule_id":null,"timezone":"","send_schedule":null,"send_window":{},"email_ids":[],"waha_sessions":[],"archive":false,"archive_template_id":null,"archive_slug":null,"archive_meta":{},"lists":[{"id":15,"name":"Enrollment
        Test List"}]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"action": "add", "ids": [11], "target_list_ids": [15], "status": "confirmed"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://listmonk-dev.aurumor.com/api/subscribers/lists
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://listmonk-dev.aurumor.com/api/subscribers/11
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://listmonk-dev.aurumor.com/api/sequences/21
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://listmonk-dev.aurumor.com/api/lists/15
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://listmonk-dev.aurumor.com/api/lists/21
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
