interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://listmonk-dev.aurumor.com/api/webhooks
  response:
    body:
      string: '{"data":[{"id":1,"name":"Frappe Cadence Webhook","url":"http://crm-dev.local/api/method/frappe_cadence.listmonk.webhook","secret":"test_secret_key_12345","events":["campaign.started"],"enabled":true}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Frappe Cadence Webhook", "url": "http://crm-dev.local/api/method/frappe_cadence.listmonk.webhook", "secret": "test_secret_key_12345", "events": ["campaign.started", "campaign.sent", "subscriber.bounced", "contact.created", "contact.updated", "sequence.step_executed"], "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://listmonk-dev.aurumor.com/api/webhooks/1
  response:
    body:
      string: '{"data":{"id":1,"name":"Frappe Cadence Webhook","url":"http://crm-dev.local/api/method/frappe_cadence.listmonk.webhook","secret":"test_secret_key_12345","events":["campaign.started","campaign.sent","subscriber.bounced","contact.created","contact.updated","sequence.step_executed"],"enabled":true}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://listmonk-dev.aurumor.com/api/webhooks
  response:
    body:
      string: '{"data":[{"id":1,"name":"Frappe Cadence Webhook","url":"http://crm-dev.local/api/method/frappe_cadence.listmonk.webhook","secret":"test_secret_key_12345","events":["campaign.started","campaign.sent","subscriber.bounced","contact.created","contact.updated","sequence.step_executed"],"enabled":true}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
