interactions:
- request:
    body: '{"email": "external_test_subscriber@example.com", "name": "External Test
      Subscriber", "status": "enabled", "attribs": {"company": "Acme Corp"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://listmonk-dev.aurumor.com/api/contacts
  response:
    body:
      string: '{"data":{"id":10,"created_at":"2026-08-15T14:20:32.718267Z","updated_at":"2026-08-15T14:20:32.718267Z","uuid":"455e7a0c-df1b-40d6-bf14-3700c57bbdcd","email":"external_test_subscriber@example.com","name":"External
        Test Subscriber","phone":null,"attribs":{"company":"Acme Corp"},"status":"enabled","lists":[]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"email": "external_test_subscriber_updated@example.com", "name": "Updated
      Subscriber Name", "status": "enabled", "attribs": {"company": "Acme Corp Updated"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://listmonk-dev.aurumor.com/api/contacts/10
  response:
    body:
      string: '{"data":{"id":10,"created_at":"2026-08-15T14:20:32.718267Z","updated_at":"2026-08-15T14:20:32.765474Z","uuid":"455e7a0c-df1b-40d6-bf14-3700c57bbdcd","email":"external_test_subscriber_updated@example.com","name":"Updated
        Subscriber Name","phone":null,"attribs":{"company":"Acme Corp Updated"},"status":"enabled","lists":[]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://listmonk-dev.aurumor.com/api/contacts/10
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
