interactions:
- request:
    body: '{"status": "active", "description": "Created during external integration
      testing", "lists": [], "email_ids": [], "waha_sessions": [], "name": "External
      Test Sequence"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://listmonk-dev.aurumor.com/api/sequences
  response:
    body:
      string: '{"data":{"id":20,"created_at":"2026-08-15T14:20:32.958555Z","updated_at":"2026-08-15T14:20:32.958555Z","uuid":"6a943d26-58c5-4aee-9a40-df21957a98b7","name":"External
        Test Sequence","description":"Created during external integration testing","status":"active","schedule_id":null,"timezone":"","send_schedule":null,"send_window":{},"email_ids":[],"waha_sessions":[],"archive":false,"archive_template_id":null,"archive_slug":null,"archive_meta":{},"lists":[]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "active", "description": "Updated sequence description", "lists":
      [], "email_ids": [], "waha_sessions": [], "name": "Renamed External Test Sequence"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://listmonk-dev.aurumor.com/api/sequences/20
  response:
    body:
      string: '{"data":{"id":20,"created_at":"2026-08-15T14:20:32.958555Z","updated_at":"2026-08-15T14:20:33.001464Z","uuid":"6a943d26-58c5-4aee-9a40-df21957a98b7","name":"Renamed
        External Test Sequence","description":"Updated sequence description","status":"active","schedule_id":null,"timezone":"","send_schedule":null,"send_window":{},"email_ids":[],"waha_sessions":[],"archive":false,"archive_template_id":null,"archive_slug":null,"archive_meta":{},"lists":[]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "active"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://listmonk-dev.aurumor.com/api/sequences/20/status
  response:
    body:
      string: '{"data":{"id":20,"created_at":"2026-08-15T14:20:32.958555Z","updated_at":"2026-08-15T14:20:33.044633Z","uuid":"6a943d26-58c5-4aee-9a40-df21957a98b7","name":"Renamed
        External Test Sequence","description":"Updated sequence description","status":"active","schedule_id":null,"timezone":"","send_schedule":null,"send_window":{},"email_ids":[],"waha_sessions":[],"archive":false,"archive_template_id":null,"archive_slug":null,"archive_meta":{},"lists":[]}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Sequence 20", "type": "public", "optin": "single", "status":
      "active"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://listmonk-dev.aurumor.com/api/sequences/20/status
  response:
    body:
      string: '{"data": true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://listmonk-dev.aurumor.com/api/lists/20
  response:
    body:
      string: '{"data":true}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
