interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://listmonk-dev.aurumor.com/api/webhooks
  response:
    body:
      string: '{"data":[{"id":1,"name":"Frappe Cadence Webhook","url":"http://crm-dev.local/api/method/frappe_cadence.listmonk.webhook","secret":"***********","events":["contact.created","contact.updated","sequence.step_executed"],"enabled":true,"created_at":"2026-08-15T11:46:25.11468Z","updated_at":"2026-08-15T11:48:05.866059Z"}]}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Frappe Cadence Webhook", "url": "http://crm-dev.local/api/method/frappe_cadence.listmonk.webhook",
      "secret": "***********", "events": ["contact.created", "contact.updated", "sequence.step_executed"],
      "enabled": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://listmonk-dev.aurumor.com/api/webhooks/1
  response:
    body:
      string: '{"data":{"id":1,"name":"Frappe Cadence Webhook","url":"http://crm-dev.local/api/method/frappe_cadence.listmonk.webhook","secret":"***********","events":["contact.created","contact.updated","sequence.step_executed"],"enabled":true,"created_at":"2026-08-15T11:46:25.11468Z","updated_at":"2026-08-15T12:19:52.721058Z"}}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
